<div *ngIf="showsignupForm">
  <h5 class="text-center">Signup</h5>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="User Name" (keyup)="validateSignupForm()" [formControl]="errCheck.usernameErr" [(ngModel)]="signupInputs.username" required="">
      <mat-error *ngIf="errCheck.usernameErr.invalid">{{getUsernameErr()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" (keyup)="validateSignupForm()" [(ngModel)]="signupInputs.email" [formControl]="errCheck.emailErr" required="">
      <mat-error *ngIf="errCheck.emailErr.invalid">{{getEmailErr()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [type]="hideSignupPwd ? 'password' : 'text'" placeholder="Password" (keyup)="validateSignupForm()" [formControl]="errCheck.passwordErr" [(ngModel)]="signupInputs.password" required="">
      <mat-icon matSuffix (click)="hideSignupPwd = !hideSignupPwd">{{hideSignupPwd ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="errCheck.passwordErr.invalid">{{getPasswordErr()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [type]="hideSignupCPwd ? 'password' : 'text'" placeholder="Confirm Password" (keyup)="validateSignupForm()" [(ngModel)]="signupInputs.confirmPassword" [formControl]="errCheck.confirmPasswordErr" required="">
      <mat-icon matSuffix (click)="hideSignupCPwd = !hideSignupCPwd">{{hideSignupCPwd ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="errCheck.confirmPasswordErr.invalid">{{getConfirmPasswordErr()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="disableSignupBtn" (click)="signup()">Signup</button><br>
    <p>Already have an account? <a href="javascript:void(0)" (click)="toggleForm()">Login Here</a></p>
    <p class="text-center red" *ngIf="signupFailMsg">{{signupFailMsg}}</p>
  </div>
</div>

<div *ngIf="showLoginForm">
  <h5 class="text-center">Login</h5>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Email" (keyup)="validateLoginForm()" [(ngModel)]="loginInputs.email" required="">
    </mat-form-field>
    <mat-form-field>
      <input matInput [type]="hideLoginPwd ? 'password' : 'text'" placeholder="Password" (keyup)="validateLoginForm()" [(ngModel)]="loginInputs.password" required="">
      <mat-icon matSuffix (click)="hideLoginPwd = !hideLoginPwd">{{hideLoginPwd ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="disableLoginBtn" (click)="login()">Login</button><br>
    <p>Dont have an account yet? <a href="javascript:void(0)" (click)="toggleForm()">Signup Here</a></p>
    <p class="text-center red" *ngIf="loginFailMsg">{{loginFailMsg}}</p>
  </div>
</div>

<div *ngIf="emailNotVerified">
  <h5 class="text-center">Email Verification</h5>
  <div class="text-center mgTop25">
    <p *ngIf="loginFailMsg" class="red">Email not verfied yet!</p>
    <p>Please enter the verification code, which sent to your registered email address</p>
    <mat-form-field [floatLabel]="'never'">
      <input matInput placeholder="Verification Code" [(ngModel)]="vcode" (keyup)="validateVcode()">
    </mat-form-field>
     <button mat-raised-button color="primary" [disabled]="disableVcodeBtn" (click)="verifyCode()">Submit</button>
     <p *ngIf="emailVerifyFailed" class="text-center red mgTop10">{{emailVerifyFailed}}</p>
     <button mat-raised-button color="primary" class="mgTop20 mgRt10" [disabled]="disableResendVcode" (click)="resendVcode()">Resend Verification Code</button>
     <span *ngIf="showSeconds">{{seconds}}</span>
  </div>
</div>