<div>
 <ngx-carousel
  [inputs]="carouselBanner"
  [moveToSlide]="1">
      <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="assets/banner1.jpg">
      </ngx-item>
      <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="assets/banner2.jpg">
      </ngx-item>
      <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="assets/banner3.jpg">
      </ngx-item>
      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
 </ngx-carousel>
</div>