<movie-banner></movie-banner>
<div class="mgTop-10">
  <h3 class="text-center clr-brown">Now Playing</h3>
  <movie-carousel [movies]="nowPlayingMovies" [type]="'nowplaying'"></movie-carousel>
</div>
<div class="mgTop-10">
  <h3 class="text-center clr-brown">Top Rated</h3>
  <movie-carousel [movies]="topRatedMovies" [type]="'toprated'"></movie-carousel>
</div>
<div class="mgTop-10">
  <h3 class="text-center clr-brown">Upcoming Movies</h3>
  <movie-carousel [movies]="upcomingMovies" [type]="'upcoming'"></movie-carousel>
</div>
<ng4-loading-spinner [loadingText]="'Loading...'"> </ng4-loading-spinner>