<div>
	 <ngx-carousel
      [inputs]="carouselBanner"
      [moveToSlide]="1">
          <ngx-item NgxCarouselItem class="bannerStyle">
              <h1>1</h1>
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
              <h1>2</h1>
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
              <h1>3</h1>
          </ngx-item>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
</div>
<div>
  <h3 class="text-center clr-brown">Now Playing</h3>
	<ngx-carousel [inputs]="carouselTile">
	  <ngx-tile NgxCarouselItem *ngFor="let movie of nowPlayingMovies">
      <div class="card">
        <img src="http://image.tmdb.org/t/p/w185/{{movie.backdrop_path}}" width="248" height="200">
        <div class="mg-5">
          <h5>{{movie.title}}</h5>
          <span class="float-left "><i class="fa fa-thumbs-up"></i>&nbsp;{{movie.vote_count}}</span>
          <span class="float-right"><i class="fa fa-star"></i>&nbsp;{{movie.vote_average}}/10</span>
        </div>
      </div>
	  </ngx-tile>
      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
</div>
