<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link pointer" routerLink="/" routerLinkActive="active" (click)="home()">
          <span class="badge badge-warning badge-pill">Movie App</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link pointer" (click)="openLoginForm()">
         Login
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link pointer" (click)="logout()">
         Logout
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link pointer" routerLink="/favourites" routerLinkActive="active" (click)="favourites()">
         Favourites
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" href="javascript:void(0)"> {{username}} </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" #search placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchMovie(search.value);search.value=''">Search</button>
    </form>
  </div>
</nav>