<div>
	<ngx-carousel [inputs]="carouselTile">
	  <ngx-tile NgxCarouselItem *ngFor="let movie of movies">
      <div class="card">
        <div class="circle" [ngClass]="{'red': movie.fav, 'darkgray': !movie.fav}" (click)="favAction(movie)"><i class="fa fa-heart"></i></div>
        <img src="http://image.tmdb.org/t/p/w185/{{movie.backdrop_path}}" [ngClass]="{'pointer': type !== 'detail'}" (click)="goToDetail(movie)">
        <div class="pd-5" *ngIf="type!='upcoming'">
          <h6 class="mgTop-10">{{movie.title}}</h6>
          <p class="mgTop-20">
            <span class="float-left"><i class="fa fa-hand-pointer-o"></i>&nbsp;{{movie.vote_count}}</span>
            <span class="float-right"><i class="fa fa-star"></i>&nbsp;{{movie.vote_average}}/10</span>
          </p>
        </div>
        <div class="pd-5 mgTop-20" *ngIf="type=='upcoming'">
          <h5 class="text-center">{{movie.title}}</h5>
        </div>
      </div>
	  </ngx-tile>
      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
</div>
<div class="noData" *ngIf="movies.length == 0">
  <p class="text-center"><i class="fa fa-exclamation-triangle"></i></p>
  <p class="text-center">No Movies Found</p>
</div>