/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
	padding-top: 80px;
}

button, .pointer {
	cursor: pointer;
}

button[disabled] {
	cursor: not-allowed;
}

.fixed-top {
	z-index: 999;
}